---
import Layout from "../layouts/Layout.astro";
import Block from "../components/Block.astro";
import Hero from "../components/Hero.astro";
import Textblock from "../components/Textblock.astro";
import BlockHalfImg from "../components/BlockHalfImg.astro";
import Blockstylish from "../components/Blockstylish.astro";
import BlockImage from "../components/BlockImage.astro";
import Footer from "../components/Footer.astro";
import Blockcontact from "../components/Blockcontact.astro";
---

<Layout title="Echo Gardiner">
    <Hero />
    <Block
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        order="true"
        bg_color="bg-dark-blue"
        text_color="text-white"
        imagePath="/src/assets/brunt-spisebord-lyst-ls.jpg"
    ></Block>

    <Blockstylish
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        bg_color="bg-white"
        text_color="text-dark-blue"
        imagePath="/src/assets/hvid-billede-med-sort-stol-pt.jpg"
    ></Blockstylish>
    <BlockHalfImg
        title="Skab et stilfuldt og funktionelt indtryk"
        order="true"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        bg_color="bg-dark-brown"
        text_color="text-white"
        imagePath="/src/assets/hvid-billede-med-sort-stol-pt.jpg"
        description="hvid-billede-med-sort-stol-billede"
    ></BlockHalfImg>
    <Blockcontact
        adress="Greve Strandvej 192"
        city="2670 Greve"
        phone="40903101"
        email="ju@echogardiner.dk"
    />
    <Textblock
        bg_color="bg-light-brown"
        text_color="text-white"
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
    />

    <BlockImage
        title="ImageBlock"
        bg_color="bg-dark-blue"
        text_color="text-white"
        imagePath="/src/assets/grønt-spisebord-gråt-ls.jpg"
    ></BlockImage>


    <div id="anchor"></div>
    <Footer />
</Layout>

<style></style>
