---
import Layout from "../layouts/Layout.astro";
import Block from "../components/Block.astro";
import Test from "../components/Test.astro";
import Hero from "../components/Hero.astro";
import Textblock from "../components/Textblock.astro";
import BlockHalfImg from "../components/BlockHalfImg.astro";
import Blockstylish from "../components/Blockstylish.astro";
import BlockImage from "../components/BlockImage.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Echo Gardiner">
    <Hero />
    <Textblock
        bg_color="bg-light-brown"
        text_color="text-white"
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
    />
    <Block
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        order="true"
        bg_color="bg-dark-blue"
        text_color="text-white"
    />
    <Block
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        bg_color="bg-dark-grey"
        text_color="text-white"
    />
    <Blockstylish
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        bg_color="bg-white"
        text_color="text-dark-blue"
    />
    <BlockImage
        title="ImageBlock"
        bg_color="bg-white"
        text_color="text-dark-blue"
    />
    <BlockHalfImg
        title="Skab et stilfuldt og funktionelt indtryk"
        order="true"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        bg_color="bg-dark-brown"
        text_color="text-white"
    />
    <BlockHalfImg
        title="Skab et stilfuldt og funktionelt indtryk"
        content=" med vores brede udvalg af erhvervsgardiner. Uanset om du ønsker at regulere lyset, skabe akustik eller tilføje et æstetisk touch, har vi den perfekte løsning til dit projekt. Vores erfarne team står klar til at rådgive dig og sikre en professionel installation."
        bg_color="bg-white"
        text_color="text-light-brown"
    />

    <div id="anchor"></div>
    <Footer />
</Layout>

<style></style>
