---
import Image from "astro/components/Image.astro"
import logo from "../assets/logo.svg"
---

<footer
    class="bg-dark-blue text-main-white flex flex-col items-center justify-between min-h-[25rem]"
>
    <Image
        class="max-w-96 my-12 mx-4 bg-main-white/50 rounded-xl"
        src={logo}
        alt="Echo Gardiner Logo"
    />
    <div
        class="max-w-screen-lg mx-auto w-full flex flex-col md:flex-row justify-around py-12 items-center text-center"
    >
        <div class="py-4 w-72">
            <p>Greve Strandvej 192</p>
            <p>2670 Greve</p>
        </div>
        <div class="py-4 w-72">
            <p>Jørgen Ulrichsen</p>
            <p>CVR 4504 4882</p>
        </div>
        <div class="py-4 w-72">
            <p>TLF: +45 4090 3101</p>
            <a
                class="hover:text-light-brown transition-colors duration-200"
                href="mailto:ju@echogardiner.dk">Mail: ju@echogardiner.dk</a
            >
        </div>
    </div>

    <div
        class="h-16 bg-main-dark-grey w-full text-center flex justify-center items-center"
    >
        <p>Copyright</p>
    </div>
</footer>
