---

---

<footer
    class="bg-dark-blue text-main-white flex flex-col items-center justify-between min-h-[25rem]"
>
    <img
        class="max-w-96 py-12 px-4"
        src="https://placehold.co/400x225"
        alt="placeholder"
    />
    <div
        class="max-w-screen-lg mx-auto w-full flex flex-col md:flex-row justify-around py-12 items-center text-center"
    >
        <div class="py-4 w-72">
            <p>Greve Strandvej 192</p>
            <p>2670 Greve</p>
        </div>
        <div class="py-4 w-72">
            <p>Jørgen Ulrichsen</p>
            <p>CVR XXXX XXXX</p>
        </div>
        <div class="py-4 w-72">
            <p>TLF: +45 8888 8888</p>
            <a
                class="hover:text-light-brown transition-colors duration-200"
                href="mailto:ju@echogardiner.dk">Mail: ju@echogardiner.dk</a
            >
        </div>
    </div>

    <div
        class="h-16 bg-main-dark-grey w-full text-center flex justify-center items-center"
    >
        <p>Copyright</p>
    </div>
</footer>
