---
import { Image } from "astro:assets";
import heroimage from "../../src/assets/grønt-spisebord-gråt-ls.jpg";
import herowave from "../../src/assets/herowave.svg";
import logo from "../../src/assets/logo.svg"
---

<section class="grid items-center justify-items-center">
    <h1 class="sr-only">Echo Gardiner</h1>

    <Image
        src={heroimage}
        alt="Floor with curtain"
        class="col-start-1 row-start-1 h-dvh object-cover"
    />
    <Image
        src={herowave}
        alt="graphic of wave"
        class="col-start-1 row-start-1 place-self-end max-w-full"
    />

    <Image
        src={logo}
        alt="Logo of Echo Gardiner"
        class="col-start-1 row-start-1 rounded-3xl mb-16 bg-main-white lg:max-w-96 max-w-64"
    />
</section>
