---
import { Image } from "astro:assets";
import heroimage from "../../src/assets/images/heroimage.png";
import herowave from "../../src/assets/images/herowave.svg";
import logo from "../../src/assets/images/logo.svg"
---

<section class="grid items-center justify-items-center">
    <h1 class="sr-only">Echo Gardiner</h1>

    <Image
        src={heroimage}
        alt="Floor with curtain"
        class="col-start-1 row-start-1 h-dvh object-cover"
    />
    <Image
        src={herowave}
        alt="graphic of wave"
        class="col-start-1 row-start-1 place-self-end"
    />

    <Image
        src={logo}
        alt="Logo of Echo Gardiner"
        class="col-start-1 row-start-1 rounded-3xl mb-16 bg-main-white/80 max-w-96"
    />
</section>
